VITE_SUPABASE_URL=https://lbxlirzjddshmgnttaap.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxieGxpcnpqZGRzaG1nbnR0YWFwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMxNTgxODgsImV4cCI6MjA5ODczNDE4OH0.Q1YM4pUeTViSwuQwdx-W8kW4F7nAMKBdnxRwfNh-rYU
VITE_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxieGxpcnpqZGRzaG1nbnR0YWFwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzE1ODE4OCwiZXhwIjoyMDk4NzM0MTg4fQ.3QhlDG--qvirg1SZdVKM-ZpLiT5JI9pmDJ_IOzlo6hw